html {
	/*background-color : #fc0;/* jaune */*/
}

body {
	width: 100%;/* contraint la page à ne pas dépasser la largeur de l'écran */
	max-width : 37.5em;/* évite que la page soit trop large */
	margin: 0 auto;
	font-family: Helvetica, Arial, sans-serif;/* liste de polices de caractères par ordre de préférence */
	background-color: #fff;
	color: #333;/* gris très foncé */
}
main {
	padding: 1em;
}

footer {
	border-top: solid 1pt #ccc;
	margin-top: 5em;
	padding: 2em 1em;
}

h1 {
	color: #000;
}
<div class="barre">
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav {
	margin-bottom: 7em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   overflow: hidden;
    background-color: #333;
    position: fixed;
       top: 2em;
       
}

li {
    float: left;
	 border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

nav a {
	color: white;
	text-decoration: none;/* enlÃ¨ve le "soulignage" */
	font-size: 0.8em;
	text-transform: uppercase;
}
</div>

a.twitter {
	background : url('images/twitter.png') scroll left no-repeat;
	background : url('images/twitter.svg') scroll left no-repeat;
	background-size: contain;
	padding-left : 1.5em;
	text-decoration: none;
}