<footer class="site-footer">
<div class="wrapper">
    <div class="footer-col-wrapper">
		<div class="footer-col footer-col-2">
			<ul class="social-media-list">
				{% if site.twitter_username %}
				<li>
					{% include icon-twitter.html username=site.twitter_username %}
				</li>
				{% endif %}
			</ul>
		</div>
		<div class="footer-col footer-col-3">
			<p>
				<a href="http://www.i2m.univ-amu.fr">Institut de Mathématiques de Marseille</a><br>
				Bureau 114 - TPR2<br>
				Campus de Luminy, Case 907<br>
				13288 MARSEILLE Cedex 9<br>
				France
			</p>
		</div>
		<div class="footer-col footer-col-1">
			<p>Vous pouvez me contacter à l'adresse prénom.nom@univ-amu.fr ou utiliser le botton suivant :</p>
			<p > <a href="mailto:annamaria.iezzi@univ-amu.fr" class="btn btn-primary" role="button">E-mail</a></p>
		</div>
	</div>
</div>
</footer>
