<footer class="site-footer">
<div class="wrapper">
    <div class="footer-col-wrapper">
		<div class="footer-col footer-col-2">
			<ul class="social-media-list">
				{% if site.twitter_username %}
				<li>
					{% include icon-twitter.html username=site.twitter_username %}
				</li>
				{% endif %}
			</ul>
		</div>
		<div class="footer-col footer-col-3">
			<p>
				<a href="http://math.usf.edu/">Department of Mathematics & Statistics</a><br>
				Office CMC110<br>
				4202 East Fowler Avenue<br>
				Tampa, FL 33620-5700<br>
				United States
			</p>
		</div>
		
	      <div class="footer-col footer-col-1">
			  {% if page.lang == 'en' %}
	  			<p>To contact me, send an e-mail to the address <tt>aiezzi[at]usf.edu</tt> or use the following button:</p>
	  			<script>
	  			function sendEmail(name,surname) {
	  			    location.href = 'mailto:' + name + surname +'@usf.edu';
	  			}
	
	  			</script>
	  			<p > <a id="email" onclick="sendEmail('a', 'iezzi')" class="btn btn-primary btn-sm" role="button">E-mail</a></p>
			    {% endif %}{% if page.lang == 'fr' %}
	  			<p>Pour me contacter, vous pouvez m'envoyer un e-mail  à l'adresse <tt>aiezzi[at]usf.edu</tt> ou utiliser le bouton suivant :</p>
	  			<script>
	  			function sendEmail(name,surname) {
	  			    location.href = 'mailto:' + name + surname +'@usf.edu';
	  			}
	
	  			</script>
	  			<p > <a id="email" onclick="sendEmail('a', 'iezzi')" class="btn btn-primary btn-sm" role="button">E-mail</a></p>
			    {% endif %}</a> 
	        <p>{{ site.description[page.lang] }}</p>
	      </div>
	    </div>
		<!--	<div class="footer-col footer-col-1">
			<p>Vous pouvez me contacter à l'adresse <tt>aiezzi[at]usf.edu</tt> ou utiliser le botton suivant :</p>
			<script>
			function sendEmail(name,surname) {
			    location.href = 'mailto:' + name + '.' + surname +'@univ-amu.fr';
			}
	
			</script>
			<p > <a id="email" onclick="sendEmail('annamaria', 'iezzi')" class="btn btn-primary btn-sm" role="button">E-mail</a></p>
		</div>	-->	
	</div>
	
</br>
    <div class="footer-col-wrapper">
		<div class="footer-col footer-col-2">
		</div>
		<div class="footer-col footer-col-3">
		</div> 
		<div class="footer-col footer-col-1">
		
		
	</script>
	<p align="left" style="font-size:0.85em">
	<SCRIPT language="javascript">
	<!--
	var derniereModif=document.lastModified;
	var dateModif = new Date(derniereModif);
	var jour = dateModif.getDate();
	var mois=dateModif.getMonth();
	var annee=dateModif.getFullYear();
	var heures=dateModif.getHours();
	var minutes=dateModif.getMinutes();
	
	{% if page.lang == 'en' %}
		document.write("Last update (mm/dd/yyyy): " + (mois+1)+"/"+jour+"/"+annee);
 {% endif %}{% if page.lang == 'fr' %}
	document.write("Dernière modification : " + jour+"/"+(mois+1)+"/"+annee);
{% endif %}
	//-->
	</SCRIPT><p>
</div>
</div>
</footer>
