<footer class="site-footer">
<div class="wrapper">
    <div class="footer-col-wrapper">
		<div class="footer-col footer-col-2">
			<center><ul class="social-media-list">
				{% if site.twitter_username %}
				<li>
					{% include icon-twitter.html username=site.twitter_username %}
				</li>
				{% endif %}
			</ul></center>
		</div>
		<div class="footer-col footer-col-3">
			<center><p>
				<a href="http://math.usf.edu/">Department of Mathematics & Statistics</a><br>
				Office CMC110<br>
				4202 East Fowler Avenue<br>
				Tampa, FL 33620-5700<br>
				United States
			</p></center>
		</div>
		
	      <div class="footer-col footer-col-1">
			  {% if page.lang == 'en' %}
	  			<center><p>To contact me, send an e-mail to the address <center><p style="margin:7px;line-height:10px;"><tt>aiezzi</tt><img src="images/snail.png" width="18ex"><tt>usf.edu</tt></p></center> or use the following button:</p>
	  			<script>
	  			function sendEmail(name,surname) {
	  			    location.href = 'mailto:' + name + surname +'@usf.edu';
	  			}
	
	  			</script>
	  			<p > <a id="email" onclick="sendEmail('a', 'iezzi')" class="btn btn-primary btn-sm" role="button">E-mail</a></p></center>
			    {% endif %}{% if page.lang == 'fr' %}
	  			<center><p>Pour me contacter, vous pouvez m'envoyer un e-mail  à l'adresse <center><p style="margin:7px;line-height:10px;"><tt>aiezzi</tt><img src="images/snail.png" width="18ex"><tt>usf.edu</tt></p></center> ou utiliser le bouton suivant&nbsp;:</p>
	  			<script>
	  			function sendEmail(name,surname) {
	  			    location.href = 'mailto:' + name + surname +'@usf.edu';
	  			}
	
	  			</script>
	  			<p > <a id="email" onclick="sendEmail('a', 'iezzi')" class="btn btn-primary btn-sm" role="button">E-mail</a></p></center>
			    {% endif %}{% if page.lang == 'it' %}
	  			<center><p>Per contattarmi potete inviarmi un'e-mail all'indirizzo <center><p style="margin:7px;line-height:10px;"><tt>aiezzi</tt><img src="images/snail.png" width="18ex"><tt>usf.edu</tt></p></center> o utilizzare questo pulsante:</p>
	  			<script>
	  			function sendEmail(name,surname) {
	  			    location.href = 'mailto:' + name + surname +'@usf.edu';
	  			}
	
	  			</script>
	  			<p > <a id="email" onclick="sendEmail('a', 'iezzi')" class="btn btn-primary btn-sm" role="button">E-mail</a></p></center>
			    {% endif %} 
	        <p>{{ site.description[page.lang] }}</p>
	      </div>
	    </div>
		<!--	<div class="footer-col footer-col-1">
			<p>Vous pouvez me contacter à l'adresse <tt>aiezzi[at]usf.edu</tt> ou utiliser le botton suivant :</p>
			<script>
			function sendEmail(name,surname) {
			    location.href = 'mailto:' + name + '.' + surname +'@univ-amu.fr';
			}
	
			</script>
			<p > <a id="email" onclick="sendEmail('annamaria', 'iezzi')" class="btn btn-primary btn-sm" role="button">E-mail</a></p>
		</div>	-->	
	</div>
	

   
<center>
<hr class="long9">

</center>


    <div class="footer-col-wrapper">
	
		
		
	</script>
	<p align="center" style="font-size:0.85em; font-weight:bold">
	<SCRIPT language="javascript">
	<!--
	var derniereModif=document.lastModified;
	var dateModif = new Date(derniereModif);
	var jour = dateModif.getDate();
	var mois=dateModif.getMonth();
	var annee=dateModif.getFullYear();
	var heures=dateModif.getHours();
	var minutes=dateModif.getMinutes();
	
	{% if page.lang == 'en' %}
		document.write("Last update (mm/dd/yyyy): " + (mois+1)+"/"+jour+"/"+annee);
 {% endif %}{% if page.lang == 'fr' %}
	document.write("Dernière modification : " + jour+"/"+(mois+1)+"/"+annee);
{% endif %}{% if page.lang == 'it' %}
	document.write("Ultima modifica: " + jour+"/"+(mois+1)+"/"+annee);
{% endif %}
	//-->
	</SCRIPT></p>


<p align="center" style="font-size:0.85em"> {% if page.lang == 'en' %}
	 <u>Credits:</u>
  
	   <br> 
	 This <strong>website</strong> (and its <span style="color:rgba(255,14,135,1)">design</span>) has been conceived and realized by Annamaria Iezzi, with the participation of <a href="https://jekyllrb.com/">Jekyll</a> and <a href="https://getbootstrap.com/">Bootstrap</a>.

	 <br> 
	I  would like to thank  my friends <a href="https://joelcohen.github.io/">Joël Cohen</a> and <a href="https://geoffroy.re/">Guillaume Geoffroy</a> for introducing me to the world of CSS and for all their insightful suggestions.

	 <br> <strong>Photos</strong>: Annamaria Iezzi
		
 {% endif %}{% if page.lang == 'fr' %}
 
 <u>Crédits:</u>
  
   <br> 
 Ce <strong>site web</strong> (et son <span style="color:rgba(255,14,135,1)">design</span>) a été conçu et réalisé par Annamaria Iezzi, avec la gentille participation de <a href="https://jekyllrb.com/">Jekyll</a> et <a href="https://getbootstrap.com/">Bootstrap</a>.

 <br> 
Un grand merci va à mes amis <a href="https://joelcohen.github.io/">Joël Cohen</a> et <a href="https://geoffroy.re/">Guillaume Geoffroy</a> pour m'avoir introduite au monde du CSS et pour tous leurs précieux conseils.

 <br> <strong>Photos</strong>: Annamaria Iezzi
{% endif %}{% if page.lang == 'it' %}
	Questo <strong>sito</strong> (e il suo <span style="color:rgba(255,14,135,1)">design</span>) è stato concepito e realizzato da Annamaria Iezzi, con la gentile partecipazione di <a href="https://jekyllrb.com/">Jekyll</a> e <a href="https://getbootstrap.com/">Bootstrap</a>.

	 <br> 
	Grazie infinite  ai miei amici <a href="https://joelcohen.github.io/">Joël Cohen</a> e <a href="https://geoffroy.re/">Guillaume Geoffroy</a> per avermi introdotto al mondo del CSS e per tutti i loro preziosissimi consigli.

	 <br> <strong>Foto</strong>: Annamaria Iezzi
	
{% endif %}</p>
</div>
<div>
	
</div>
</footer>
