/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;

}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

// ----------------------------
// propriétés éditées à la main
// ----------------------------
.sizer {
  width: 300px;
  
}
// effet photo
.container2 {
  position: relative;
  width: 90%;
}


.image {
  display: block;
  width: 45%;
  height: auto;
  border: 5px solid rgba(159, 40, 117, 0.15);
      border-radius: 10px;
      padding: 0em;	  
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(159, 40, 117, 0.4);
  border-radius: 10px;
}

.container2:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 2.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.site-nav{
	width: 100vw;
}

.menu-icon{
	border-radius: 5px;
	margin-right: 1em;
}

a {
	word-break: normal;
}



//--------------------

.borderless table {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}




td{
    vertical-align: top;
	padding-top: 5em;
	    padding-bottom: 5em;
}


header {
	background: url(../images/hasard6.jpg) no-repeat;
	background-attachment: fixed;
	background-position: center bottom;
	background-size: cover;
	height: 30em;
}

.top-banner {
	background-color: #fff;
	background-color: rgba(256,256,256,.7);
	backdrop-filter: blur(.5em);
	-webkit-backdrop-filter: blur(.5em);
	width: 105%;
	border-bottom: solid #fff 1pt;
	border-bottom: solid rgba(255,255,255,.8) 1pt;
	position: fixed;
	 z-index: 100;
	 min-height: 56px;
	 
	
}

.top-banner-white {
	position: fixed;
	top: 0px;
	background-color: rgba(252,252,252,1);
	border-bottom: solid #b2adad 1pt; 
}

.btn {
	margin: .2em;
}
a.btn:visited{
	color: #fff;
}

hr{
	align:center; 
	width:80%;
}

hr.long{width:100%}

hr.long1{width:70%;
color: #007BA7;
background-color: #007BA7;
height: 5px; 
}

hr.long2{width:100%;
color: #007BA7;
background-color: #007BA7;
height: 1px;}

hr.long3{width:70%;
color: #A42424;
background-color: #A42424;
height: 5px; 
}
hr.long4{width:100%;
color: #A42424;
background-color: #A42424;
height: 1px; 
}

hr.long5{width:70%;
color: #008020;
background-color: #008020;
height: 5px; 
}
hr.long6{width:100%;
color: #008020;
background-color: #008020;
height: 1px; 
}

hr.long7{width:70%;
color: #E67630;
background-color: #E67630;
height: 5px; 
}
hr.long8{width:100%;
color: #E67630;
background-color: #E67630;
height: 1px; 
}
hr.long9{width:80%;
color: rgba(255,14,135,0.5);
background-color: rgba(255,14,135,0.5);
height: 0.5px; 
}

hr.long11{width:1%;
color: rgba(255,255,255,0.5);
background-color: rgba(255,255,255,0.5);
height: 0.5px; 
}
	
	.carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
         width: 100%;
         margin: auto;
     }
	 
	 .carousel-caption {
		   position: relative;
		   left: auto;
		    right: auto;
	 }
	 .carousel-inner{
	 overflow: visible;
	 }
     
	 .btn-pink {
	     color: #f8f8f8;
	     background-color: #E81D62;
	     border-color: #c51954;
	 }
	 
	 button.btn:hover {
	 	color: #fff;
	 }
	 
	
	 
	 .btn-pink:hover {
	     color: #fff;
	     background-color: #c51954;
	     border-color: #c51954;
	 }
	
	 button.btn:visited {
	     color: #fff;
	 }
	 
	 .gap-left {
	   margin-left: 10px; 
	 }
	 
	 

	 /* my modal image*/

	 #myImg {
		 border: 3px solid rgba(72, 136, 54, 0.5);
	     border-radius: 3px;
	     cursor: pointer;
	     transition: 0.3s;
	 }
	

	 #myImg:hover {opacity: 0.5;}

	

	
 #ImgBridge:hover {animation: shake 1s;
					  animation-iteration-count: 1;
					}

					
 
 
	 #img01 {
	     border-radius: 5px;
	 }
	 /* The Modal (background) */
	 .modal2 {
	     display: none; /* Hidden by default */
	     position: fixed; /* Stay in place */
	     z-index: 1; /* Sit on top */
	     padding-top: 100px; /* Location of the box */
	     left: 0;
	     top: 0;
	     width: 100%; /* Full width */
	     height: 100%; /* Full height */
	     overflow: auto; /* Enable scroll if needed */
	     /*background-color: rgb(72, 136, 54);  Fallback color */
	     background-color: rgba(72, 136, 54,0.6); /* Black w/ opacity */
	 }

	 /* Modal Content (image) */
	 .modal2-content {
	     margin: auto;
	     display: block;
	     width: 80%;
	     max-width: 700px;
	 }

	 /* Caption of Modal Image */
	 #caption {
	     margin: auto;
	     display: block;
	     width: 80%;
	     max-width: 700px;
	     text-align: center;
	     color: #ccc;
	     padding: 10px 0;
	     height: 150px;
	 }

	 /* Add Animation */
	 .modal2-content, #caption {    
	     -webkit-animation-name: zoom;
	     -webkit-animation-duration: 0.6s;
	     animation-name: zoom;
	     animation-duration: 0.6s;
	 }

	 @-webkit-keyframes zoom {
	     from {-webkit-transform:scale(0)} 
	     to {-webkit-transform:scale(1)}
	 }

	 @keyframes zoom {
	     from {transform:scale(0)} 
	     to {transform:scale(1)}
	 }

	 /* The Close Button */
	 .close2 {
	     position: absolute;
	     top: 55px;
	     right: 35px;
	     color: white;
	     font-size: 40px;
	     font-weight: bold;
	     transition: 0.3s;
	 }

	 .close2:hover,
	 .close2:focus {
	     color: rgb(252,247,100);
	     text-decoration: none;
	     cursor: pointer;
	 }

	 /* 100% Image Width on Smaller Screens */
	 @media only screen and (max-width: 700px){
	     .modal2-content {
	         width: 100%;
	     }
	 }
	 
	 
	 
	 
	 iframe {
	     display: block;
	     margin: auto;
	 }
	 
	 .videoWrapper {
	 	position: relative;
	 	padding-bottom: 56.25%; /* 16:9 */
	 	padding-top: 25px;
	 	height: 0;
	 }
	 .videoWrapper iframe {
	 	position: absolute;
	 	top: 0;
	 	left: 0;
	 	width: 100%;
	 	height: 100%;
	 }
	 
	 
	 .adder {
		img:hover {
		  animation: shake 0.7s;
		  animation-iteration-count: 2;
		}

		@keyframes shake {
		  0% { transform: translate(1px, 1px) rotate(0deg); }
		  10% { transform: translate(-1px, -2px) rotate(-1deg); }
		  20% { transform: translate(-3px, 0px) rotate(1deg); }
		  30% { transform: translate(3px, 2px) rotate(0deg); }
		  40% { transform: translate(1px, -1px) rotate(1deg); }
		  50% { transform: translate(-1px, 2px) rotate(-1deg); }
		  60% { transform: translate(-3px, 1px) rotate(0deg); }
		  70% { transform: translate(3px, 1px) rotate(-1deg); }
		  80% { transform: translate(-1px, -1px) rotate(1deg); }
		  90% { transform: translate(1px, 2px) rotate(0deg); }
		  100% { transform: translate(1px, -2px) rotate(-1deg); }
		}
	}
// ------------------------------------
// fin des propriétés éditées à la main
// ------------------------------------







/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
	li {
		margin-top:1em;
		
	}
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));	
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}
/*
#wrapper-top{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}
*/

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
